<!-- BREADCRUMBS -->
<section class="breadcrumb-section">
  <div class="container">
    <div class="breadcrumb-part">
      <ul>
        <li><a href="/">Home</a></li>
        <li>{{ page_title }}</li>
      </ul>
    </div>
  </div>
</section>