<section class="about-section small-container">
  <div class="container">
    <div class="title-desc">
      <h2>{{ page_title }}</h2>
    </div>
    {{ page.content }}
    {% section 'about' %}
  </div>
</section>

